* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
}

.bgi {
    width: 100%;
    height: 100%;
    padding: 0.8rem;
    text-align: center;
    background-image: url("home.img/bgi.jpg");
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    gap: 6rem;
}



.logo {
    display: flex;
}

.logo img {
    height: 3.5rem;
}

.pinkflamingo {
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding-right: 3rem;
    line-height: 1.4rem;
}

.pinkflamingo .span1 {
    color: rgb(228, 43, 154);
    font-weight: bolder;
    font-size: 1rem;
}

@media (min-width:1360px) {
    .pinkflamingo .span1 {
        font-size: 1.4rem;
    }
}

.pinkflamingo .span2 {
    color: rgb(228, 43, 154);
    font-size: 14px;
    font-weight: bold;
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid rgb(237, 145, 69);
    border-radius: 5px;
}

.locationbox {
    height: 3.5rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    background-color: rgb(245, 6, 165);
}

#locationlogo {
    font-size: 1.7rem;
    color: white;
}

.deliver {
    display: flex;
    flex-direction: column;
    color: white;
    padding-right: 10px;
    font-size: 0.9rem;
    gap: 0.2rem;
}

.inputsection {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#text {
    outline: none;
    height: 3.5rem;
    width: 20rem;
    font-size: 18px;
    padding: 0px 10px;
    border: none;
}

@media (min-width:1250px) {
    #text {
        width: 30rem;
    }

}

#searchlogo {
    font-size: 25px;
    /* background-color: brown; */
    margin-right: 1rem;
    color: rgb(219, 210, 210);
}

#cart {
    font-size: 27px;

}

.login {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.login a {
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.login span {
    font-weight: bolder;
}

#profile {
    overflow: hidden;
    background-color: rgb(245, 6, 165);
    font-size: 30px;
    border-radius: 100%;
    color: white;
    /* font-weight: lighter; */
}

.nav2-links {
    list-style: none;
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    height: 2.6rem;
}

.drop-down {

    height: 160px;
    width: 220px;
    list-style: none;
    line-height: 2.3rem;
    position: absolute;
    background-color: white;
    padding: 10px 20px;
    display: none;
}



.product:hover .drop-down {
    display: block;
}

.nav2-link a {

    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
}

.nav2-link .drop-down a {
    color: black;
    font-size: 18px;
    font-weight: 100;
}

.nav2 a:hover {
    color: #fc1c50;
}

.nav2-link:hover {
    transform: scale(1.2);
    transition-duration: 200ms;
}

main {
    width: 80vw;
    margin: 0px auto;

}

.product-dhoop {
    color: rgb(190, 181, 181);
    margin: 20px 0px;
}

#price {
    color: rgb(190, 181, 181);
    border: 1px solid rgb(190, 181, 181);
    border-radius: 20px;
    padding: 3px 10px;
    margin-right: 10px;
    cursor: pointer;

}

#category {
    color: rgb(190, 181, 181);
    border: 1px solid rgb(190, 181, 181);
    border-radius: 20px;
    padding: 3px 10px;
    cursor: pointer;
}

.card-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;

}

.card {
    cursor: pointer;

    overflow: hidden;
    width: 327px;
    height: 515px;
    display: flex;
    flex-direction: column;


}

.card-img {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 16px;
    width: 100%;
    height: 390px;
}

.card-img img {
    overflow: hidden;

    border: 2px solid #E6896D;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}


.card #p1 {
    font-size: 18px;
    color: #FA5C98;
    font-weight: 600;
    margin-bottom: 8px;
}

.card #p2 {
    line-height: rem;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    padding-right: 40px;
}

.card i {
    margin-bottom: 10px;
    color: #FFBB0E;
}

.card #dollar {
    font-size: 20px;
    font-weight: 600;
    color: #C0590E;
}

.span {
    margin-top: 60px;
    margin-bottom: 50px;
    height: 42px;

    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}

.span .spans:hover {
    background-color: #FB9E82;
    padding: 11px;
    border-radius: 100%;
    color: white;
    transition-duration: 200ms;
}

.span #next {
    color: #E08468;
}


footer {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.footer1 {
    height: 140px;
    background: #FA5C98;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-footer1 {
    display: flex;
    align-items: center;

    height: 30px;
    width: 244px;
    gap: 0.6rem;
}

#footer1-email {
    font-size: 30px;
    color: white;

}

.left-footer1 p {
    font-size: 19px;
    color: white;
}

.footer1-search {
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 49px;
    width: 592px;
    background-color: rgb(247, 245, 249);
}

#footer1-input {
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 0px 10px;
    height: 49px;
    width: 522px;
    border: none;
}

.footer1-search p {
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    height: 36px;
    width: 113px;
    background: #FA5C98;
    font-size: 16px;
    border-radius: 10px;

}

.footer2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 356px;
    background: #FA5C98;
}

.footer2 p {
    font-size: 20px;
    color: white;
}

.footer2 span {
    color: white;
    font-size: 12px;
}

.contact-us,
.information,
.account,
.links,
.social-media {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.social-media i {
    color: white;
}