* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
}

.bgi {
    width: 100%;
    height: 100%;
    padding: 0.8rem;
    text-align: center;
    background-image: url("home.img/bgi.jpg");
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    gap: 6rem;
}



.logo {
    display: flex;
}

.logo img {
    height: 3.5rem;
}

.pinkflamingo {
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding-right: 3rem;
    line-height: 1.4rem;
}

.pinkflamingo .span1 {
    color: rgb(228, 43, 154);
    font-weight: bolder;
    font-size: 1rem;
}

@media (min-width:1360px) {
    .pinkflamingo .span1 {
        font-size: 1.4rem;
    }
}

.pinkflamingo .span2 {
    color: rgb(228, 43, 154);
    font-size: 14px;
    font-weight: bold;
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid rgb(237, 145, 69);
    border-radius: 5px;
}

.locationbox {
    height: 3.5rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    background-color: rgb(245, 6, 165);
}

#locationlogo {
    font-size: 1.7rem;
    color: white;
}

.deliver {
    display: flex;
    flex-direction: column;
    color: white;
    padding-right: 10px;
    font-size: 0.9rem;
    gap: 0.2rem;
}

.inputsection {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#text {
     outline: none;
    height: 3.5rem;
    width: 20rem;
    font-size: 18px;
    padding: 0px 10px;
    border: none;
}

@media (min-width:1250px) {
    #text {
        width: 30rem;
    }

}

#searchlogo {
    font-size: 25px;
    /* background-color: brown; */
    margin-right: 1rem;
    color: rgb(219, 210, 210);
}

#cart {
    font-size: 27px;

}

.login {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.login a {
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.login span {
    font-weight: bolder;
}

#profile {
    overflow: hidden;
    background-color: rgb(245, 6, 165);
    font-size: 30px;
    border-radius: 100%;
    color: white;
    /* font-weight: lighter; */
}

.nav2-links {
    list-style: none;
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
      height: 2.6rem;
}

.drop-down{
    
    height: 200px;
    width: 220px;
    list-style: none;
    line-height: 2.3rem;
    position: absolute;
    background-color: white;
    padding: 10px 20px;
    display: none;
}

#dhoop-angle{
    margin-left: 23px;
   font-size: 12px;
    display: none;
}

.dhoop-cone:hover #dhoop-angle{
    color:#ee045e ;
    display: inline;
}

.product:hover  .drop-down {
     display: block;
}

.nav2-link a {
    
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
}

.nav2-link .drop-down a{
    color: black;
    font-size: 18px;
    font-weight: 100;
}

.nav2 a:hover {
    color:#fc1c50;
}

.nav2-link:hover {
    transform: scale(1.2);
    transition-duration: 200ms;
}

.banner {
    background-color: rgb(255, 230, 249);
    height: 364px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}


.banner img {
    width: 250px;
    height: 250px;
    margin-right: 70px;
}

#angle-left {
    background-color: rgb(244, 244, 247);
    font-size: 30px;
    border-radius: 100%;
    padding: 5px 10px;
    color: rgb(234, 90, 138);
    margin-right: 150px;

}

.banner p {
    max-width: 765px;
    font-size: 45px;
    font-weight: 1000;

}


#angle-right {
    background-color: rgb(244, 244, 247);
    font-size: 30px;
    border-radius: 100%;
    padding: 5px 10px;
    color: rgb(234, 90, 138);
    margin-left: 150px;
}

main {
    width: 80vw;
    margin: 0px auto;
}

main #para-shop {
    font-size: 25px;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 35px;
}

.six-card::-webkit-scrollbar {
    display: none;
}

.six-card {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    padding-bottom: 10px;
    margin-right: 1rem;
}

.artical-img {
    border-radius: 15px;
    overflow: hidden;
    width: 200px;
    height: 240px;
}

article img {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

article img:hover {
    transform: scale(1.2);
    transition-duration: 600ms;

}

article p {
    font-size: 1.2rem;
    font-weight: bold;
}

article a {
    text-decoration: none;
    color: rgb(234, 90, 138);
}

.why-pink {
    background-color: #FFF2F8;
    height: 388px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 3rem 0px;
}

.why-pink h1 {
    font-size: 50px;
}

.why-pink .box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.why-pink .detail p {
    line-height: 2rem;
    font-size: 1.4rem;
    max-width: 700px;
}

.box img {
    border-radius: 100%;
    background-color: #FFF2F8;
}

#check-circle {
    color: rgb(234, 90, 138);
}

#our-latest-blog {
    font-size: 50px;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 40px;
}

.three-card {
    display: flex;
    justify-content: space-between;
}

.card {
    border-radius: 10px;
    width: 430px;
    height: 631px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    gap: 2rem;
    margin-bottom: 40px;
}

.card-img {
    overflow: hidden;
    height: 277px;
    width: 430px;
}

.card-img img {
    border-radius: 10px 10px 0px 0px;
    height: 100%;
    width: 100%;
}

.card .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 18px;
    gap: 2rem;

}

.content #p1 {
    font-size: 20px;
    font-weight: 600;
}

.content #p2 {
    font-size: 18px;
    font-weight: 200;
}

.card button {
    width: 126px;
    height: 38px;
    border-radius: 10px;
    color: white;
    background-color: #FD6585;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#date {
    align-self: self-start;
    margin-left: 18px;
    color: rgb(181, 171, 171);
}

#let-connect {
    font-size: 50px;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 40px;
}

form {
    display: flex;
    margin-bottom: 40px;
    height: 361px;
    justify-content: space-between;
    gap: 2rem;
}

.left-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.name-phone {
    display: flex;
    gap: 2rem;
}

.name {
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    align-items: center;
    gap: 1rem;
    width: 340px;
    height: 66px;
    border-radius: 15px;
    padding: 0px 10px;
}

.phone {
    display: flex;
    border-radius: 15px;
    padding: 0px 10px;
    align-items: center;
    gap: 1rem;
    width: 340px;
    height: 66px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.name-phone input {
     outline: none;
    padding: 0px 10px;
    height: 66px;
    width: 100%;
    font-size: large;
    border: none;
}

#name-logo,
#phone-logo {
    font-size: 25px;
    color: #e7899d;
}

#slash {
    font-size: 1.5rem;
}

.form-img {
    width: 100%;
    height: 100%;
}

.form-img img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.email {
    display: flex;
    border-radius: 15px;
    padding: 0px 10px;
    align-items: center;
    gap: 0.9rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 66px;
}

#email-logo {
    font-size: 25px;
    color: #e7899d;
}

#email-input {
     outline: none;
    height: 66px;
    padding: 0px 10px;
    height: 66px;
    width: 100%;
    font-size: large;
    border: none;
}

#text-area {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 20px;
    font-size: large;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

  footer{
    display: flex;
    flex-direction: column;
    gap: 1px;
  } 

.footer1{
    height: 140px;
    background:#FA5C98;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-footer1{
    display: flex;
    align-items: center;
    
    height: 30px;
    width: 244px;
    gap: 0.6rem;
}

#footer1-email{
    font-size: 30px;
    color: white;

}
 
.left-footer1 p{
   font-size: 19px;
   color: white;
}

.footer1-search{
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 49px;
    width: 592px;
    background-color: rgb(247, 245, 249);
}

#footer1-input{
     outline: none;
    border-radius: 10px;
    font-size:16px;
    padding: 0px 10px;
     height: 49px;
    width: 522px;
    border: none;
}

.footer1-search p{
    color: white;
   
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    height: 36px;
    width: 113px;
    background:#FA5C98;
    font-size: 16px;
    border-radius: 10px;

}

.footer2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 356px;
     background:#FA5C98;
}

.footer2 p{
    font-size: 20px;
    color: white;
}

.footer2 span{
    color: white;
    font-size: 12px;
}
.contact-us , .information,.account,.links,.social-media{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.social-media i{
    color: white;
}
